<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
            background-color: rgb(0,113,156);
        }
        h1{
            text-align: center;
        }
        img{
            width:inherit;
            height: 150px;
            opacity:0.8;
            border-radius: 20px;
        }
        div{
            background-color: rgb(133, 123, 243);
            color: black;
            padding: 20px;
            width: 500px;
            margin-left: 25%;
            border: 2px solid rgb(113, 113, 235);
            border-radius:40px ;
            align-items: center;
            font-size: x-large;
            text-align: justify;
            font-weight: 550;
            
        }
    </style>
</head>
<body>
    <h1>THIS IS ABOUT PAGE</h1>
    <hr>
    <hr>
    <h2>EXPRESS JS</h2>
    <div>
    <img src="https://www.split.io/wp-content/uploads/2021/07/BLOG-Node_Express.png" alt="">
    <p>Express.js is a small framework that works on top of Node.js web server functionality to simplify its APIs and add helpful new features. It makes it easier to organize your application’s functionality with middleware and routing. It adds helpful utilities to Node.js HTTP objects and facilitates the rendering of dynamic HTTP objects.</p>
    </div>
    <a href="http://localHost:2000/">back</a>
</body>
</html>