<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: black;
            background-size: cover;
            background-repeat: no-repeat;
            background-position:top;
            padding: 0%;
            margin: 0%;
        }
        h1{
            color: white;
            text-align: center;
        }
        ul{
            list-style-type : none;
            display : flex;
            padding : 10px;
        }
        body > div{
            padding: 0%;
        }
        ul>li{
            padding :0 20px;
            border-right : 2px solid black;
            text-align : center;
        }
        img{
            /* background-size: cover; */
            width:100%;
            opacity:0.75 ;
        }
        a{
            color :aliceblue;
            text-decoration : none;
            font-size : x-large;
            /* background-color: rgb(205, 34, 34); */
        }
        a:hover{
            font-weight : bold ;
            background-color : rgb(7, 7, 7)
        }
        .active{
            background-color : rgb(7, 7, 7);
        }
        .nav_bar{
            background-color : 	rgb(0,113,156);

        }
    </style>
</head>
<body>
    <h1>CUSTOMER MANAGEMENT SYSTEM</h1>
    <div class="nav_bar">
        <ul>
            <li> <a href="#" class="active">HOME</a>                  </li>
            <li> <a href="http://localhost:2000/about" >ABOUT</a>     </li>
            <li> <a href="http://localhost:2000/manager">Managers</a></li>
            <li> <a href="http://localhost:2000/tl">TeamLeads</a></li>
            <li> <a href="http://localhost:2000/customer">CUSTOMER</a></li>
            <li> <a href="http://localhost:2000/login">LOGIN</a>      </li>
        </ul>
    </div>
    <div id="image">
        <img src="https://png.pngtree.com/background/20210712/original/pngtree-workplace-white-collar-workers-compete-against-time-to-improve-performance-vector-picture-image_1186513.jpg" alt="">
    </div>
</body>

</html>